<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>MPSC Starter</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" media="all"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">

<!-- Custom Styles for this template -->
<link type="text/css" rel="stylesheet" media="all"
	th:href="@{/css/styles.css}">

</head>

<div th:fragment="before-body-scripts">
	<script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
</div>
</html>